    
	<div class="containerCls">
	<span class="homeLnk"><img src="../www/img/home.png" /></span>
	<div class="barHeader">Search Rooms</div>
	 	
	<div class="detailsElements">
		
	<div class="barcontentCls" >
	<ul>
	<li class="saveCls">
	 <label for="startDate">Start Date</label><input type="date" id="startDate" />
	</li>
	<li class="saveCls">
	 <label for="startTime">Start Time</label><input type="time" id="startTime"/>
	</li>
	<li class="saveCls">
	 <label for="endDate">End Date</label><input type="date" id="endDate" />
	</li>
	<li class="saveCls">
	 <label for="endTime">End Time</label><input type="time" id="endTime"/>
	</li>
	<li class="saveCls">
	 <label for="capacity">Capacity</label><input type="text" id="capacity"/>
	</li>
	<li><span class="searchRoom">Search</span></li>
	</ul>
	</div>
	</div>
	</div>
	
	 
	
