    <div class="containerCls">
	<span class="homeLnk"><img src="../www/img/home.png" /></span>
	<div class="barHeader">Settings</div>
	 	
	<div class="detailsElements">
		
	<div class="barcontentCls">
	<ul>
	<li class="saveCls"><label for="userName">User Name</label><input id="userName" type="text" value="Thejo.krishna@amadeus.com"/></li>
	<li class="saveCls"><label for="userName">Password</label><input id="userPswd" type="password" value="dummy"/></li>
	<li><span class="saveData">Save</span></li>
	</ul>
	</div>
	</div>
	</div>
	 
	
