<div id="splashBg">
<div id="header">
   <span id="logo"><img src="img/logo.png" /></span>
   Conference Room Booking <span>It's never been this easy</span>
</div>
<div id="content">
   <ul>
      <li><span class="icon1"><img src="img/ConfRoomsIcon.png" height="30" width="35"/></span><span class="icon2"><img src="img/Search_img.png" height="30" width="35"/></span><span class="icon3"><img src="img/qr_code.png" height="30" width="35"/></span></li>
      <li><span class="icon4"><img src="img/calendar.png" height="30" width="35"/></span><span class="icon5"><img src="img/favourites.png" height="30" width="35"/></span><span class="icon6"><img src="img/settings.png" height="30" width="35"/></span></li>
   </ul>
</div>
</div>